<div class="row">
    <div class="col-md-4">
        <h3>Choose your files</h3>
        <div appNgDropFiles [files]=files (mouseOverDropArea)="dropIsPossible = $event" [ngClass]="{ 'file-over': dropIsPossible }" class="weel drop-zone mt-3">
            <img src="assets/drop-images.png" alt="">
            <h4>Drop your files here</h4>
        </div>
    </div>

    <div class="col-md-8">
        <h4>Load files</h4>
        <button (click)="loadFiles()" class="btn btn-success mr-2" [disabled]="files.length===0">Load</button>
        <button (click)="cleanTable()" class="btn btn-danger">Clean</button>

        <table class="table">
            <thead class="thead=dark">
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of files">
                    <td [ngClass]="{ 'text-green': item.progress >= 100 }">{{ item.fileName }}</td>
                    <td>{{ item.file.size / 1024 / 1024 | number: '.2-2'}} MB</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>