<h5 class="thead-light">Directivas ngStyle</h5>
<app-ng-style></app-ng-style>
<br/>

<h5 class="thead-light">Estilo con Scope independiente</h5>
<app-css></app-css>
<p>Esto es otro párrafo con un estilo diferente al del párrafo del componente anterior (punto 4). Los estilos de la etiqueta &lt;p&gt; están dados de forma genérica pero no afectan a todos los estilos. Angular se encarga de diferenciar el scope de los mismos.</p>
<br/>

<h5 class="thead-light">Directivas ngClass</h5>
<app-ng-class></app-ng-class>
<br/>

<h5 class="thead-light">Directivas ngSwitch</h5>
<app-ng-switch></app-ng-switch>