<div class="table-responsive-md">
        <table class="table">      
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th style="width: 30%">Estado inicial</th>
              <th style="width: 35%">Atributo</th>
              <th style="width: 30%">Resultado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>4.-</th>
                <td colspan=3>
                    <p>En este párrafo estamos metiendo el estilo directamente en el componente y más concretamente en la etiqueta &lt;p&gt;
                        <br/>
                        {{ var1 }}
                        <br/>
                        Estamos diciendo que TODOS los párrafos van a ser de color "violet"
                        <br/>
                    </p>
                </td>
            </tr>
          </tbody>
        </table>
      </div>