<h4>Forms <small>data aproximation (logic on the controller)</small></h4>
<hr>
<form [formGroup]="form" (ngSubmit)="saveForm()" >

  <div formGroupName="fullName">

    <div class="form-group row">
      <label class="col-2 col-form-label">Name</label>
      <div class="col-8">
        <input [ngClass]="[ !form.get('fullName.name').touched ? 'form-control':(
                            !form.get('fullName.name').valid ? 'form-control is-invalid' : 'form-control is-valid' )]"
                type="text"
                placeholder="Name"
                formControlName="name">

        <div *ngIf="form.controls['fullName'].controls['name'].errors?.required" class="invalid-feedback">
          This field is required
        </div>
        <div *ngIf="form.controls['fullName'].controls['name'].errors?.minlength" class="invalid-feedback">
          This field must have at least 2 digits.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Surname</label>
      <div class="col-8">

        <input [ngClass]="[ !form.get('fullName.surname').touched ? 'form-control':(
                            !form.get('fullName.surname').valid ? 'form-control is-invalid' : 'form-control is-valid' )]"
               type="text"
               placeholder="Surname"
               formControlName="surname">
        
        <div *ngIf="form.controls['fullName'].controls['surname'].errors?.required" class="invalid-feedback">
          This field is required
        </div>
        <div *ngIf="form.controls['fullName'].controls['surname'].errors?.minlength" class="invalid-feedback">
          This field must have at least 2 digits.
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">E-mail</label>
    <div class="col-md-8">

      <input [ngClass]="[ !form.get('email').touched ? 'form-control':(
                          !form.get('email').valid ? 'form-control is-invalid' : 'form-control is-valid' )]"
             type="email"
             placeholder="E-mail"
             formControlName="email" >

      <div *ngIf="form.controls['email'].errors?.required" class="invalid-feedback">
        This field is required
      </div>
      <div *ngIf="form.controls['email'].errors?.pattern" class="invalid-feedback">
        This field doesn´t have the pattern required.
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">User Name</label>
    <div class="col-md-8">
      <input formControlName="userName" type="text" class="form-control" placeholder="user name">
    </div>  
  </div> 

  <div class="form-group row">
    <label class="col-2 col-form-label">Password</label>
    <div class="col-md-8">
      <input formControlName="password" type="password" class="form-control" placeholder="password">
    </div>  
  </div> 
  
  <div class="form-group row">
    <label class="col-2 col-form-label">Check Password</label>
    <div class="col-md-8">
      <input formControlName="passwordCheck" type="password" class="form-control" placeholder="repeat your password">
    </div>  
  </div> 

  <div class="form-group row">
    <label class="col-2 col-form-label">Hobbies</label>
    <div class="col-md-8" formArrayName="hobbies">
      <input  *ngFor = "let hobby of form.controls['hobbies'].controls; let i = index"
              [formControlName]=i type="text" class="form-control mb-2" placeholder="hobby">
    </div>  
  </div> 

  <!-- In case we need to load data from the Array -->
  <!-- 
  <div class="form-group row">
    <label class="col-2 col-form-label">Hobbies</label>
    <div class="col-md-8" formArrayName="hobbies" *ngFor = "let hobby of form.controls['hobbies']?.value; let i = index">
        <ng-container [formGroupName]="i">
          <input [ngClass]="[ !form.controls['hobbies'].touched ? 'form-control': (
                              !form.controls['hobbies'].valid ? 'form-control is-invalid' : 'form-control is-valid' )]"
                  formControlName="hobby" placeholder="hobby" type="text" >
          <div *ngIf="form.controls['hobbies'].errors?.required" class="invalid-feedback">
              This field is required
            </div>
        </ng-container>
    </div>  
  </div>  
  -->  


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button (click)="addHobby()" type="button" class="btn btn-primary mr-2">+</button>
      <button type="submit" class="btn btn-outline-primary">
        Save
      </button>
    </div>
  </div>

  <!-- {{ form.valid }}
  <br>
  {{ form.status }} -->

</form>
