<h6 class="mt-2">{{ actualDate }}</h6>
<hr>
<div class="app-messages" id="app-messages">
    <div *ngFor="let chat of chatService.chats"
        [ngClass]="{ 'text-right': chatService.user.uid == chat.uid,
                     'text-left': chatService.user.uid != chat.uid}">
        <span class="badge"
            [ngClass]="{ 'badge-primary': chatService.user.uid == chat.uid,
                         'badge-success': chatService.user.uid != chat.uid }"
        >{{ chat.name }}</span>
        <p>{{ chat.message }}</p>
    </div>
</div>
<input class="form-control" type="text" placeholder="send message..." (keyup.enter)="sendMessage()" [(ngModel)]="message">
